body {
    margin: 0;
    padding: 0;
    background-image: url("/public/images/cinema.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .admin-panel {
    width: 90%;
    margin: 3em auto;
    background-color: #800020;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 2em;
    color: #ffffff;
  }
  
  .admin-panel h1 {
    text-align: center;
    margin-bottom: 2em;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 1em;
  }
  
  .section {
    margin-top: 3em;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 1em;
    background-color: #800020;
    color: #ffffff;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #ffffff;
    padding: 1em 0;
  }
  
  .item:last-child {
    border-bottom: none;
  }
  
  .item-detail {
    flex: 1;
  }
  
  .item-button {
    padding: 1em 2em;
    background-color: #ffffff;
    color: #800020;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .item-button:hover {
    background-color: #c0a080;
  }
  
  button {
    margin-bottom: 2em;
    padding: 1em 2em;
    background-color: #ffffff;
    color: #800020;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c0a080;
  }
  
  /* Smartphone (portrait) */
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    .admin-panel {
      width: 78%;
      padding: 1em;
    }
  
    .admin-panel h1 {
      font-size: 1.2em;
    }
  
    .section {
      margin-top: 2em;
      padding: 0.5em;
    }
  
    .item {
      flex-direction: column;
      padding: 0.5em 0;
    }
  
    .item-detail {
      margin-bottom: 0.5em;
    }
  }
  
  /* Tablet */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .admin-panel {
      width: 95%;
      padding: 1.5em;
    }
  
    .admin-panel h1 {
      font-size: 1.5em;
    }
  
    .section {
      margin-top: 2em;
      padding: 1em;
    }
  
    .item {
      padding: 1em 0;
    }
  }
  